<%= render partial: "shared/flash" %>

<%= link_to 'Create Vision Board', new_vision_board_path, data: { turbo_method: :get } %>

<% unless current_user.avatar.attached? %>
<%= link_to 'Upload profile picture!', edit_user_registration_path, method: :get %>
<% end %>

<% unless @vision_boards.empty? %>
<%= render partial: "shared/new_upload_form" %>


  <div class="vision-boards">
    <% @vision_boards.each do |board| %>
      <%= link_to board.title, vision_board_path(board), data: { turbo_method: :get } %>
    <% end %>
  </div>
<% end %>
