<% unless current_user.avatar.attached? %>
<%= link_to 'Upload profile picture', edit_user_registration_path, method: :get %>
<% end %>
<br>
<%= link_to 'Create Vision Board', new_vision_board_path, data: { turbo_method: :get } %>
<div class="flash">
  <%= render partial: "shared/flash" %>
</div>
<% unless @vision_boards.empty? %>

  <div class="vision-boards px-4">
    <h2 class="text-center">Your Vision Boards:</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <% @vision_boards.each do |board| %>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <%= link_to vision_board_path(board), class:"rounded-t-lg" do %>
            <%= image_tag("https://flowbite.com/docs/images/carousel/carousel-1.svg") %>
          <% end %>
          <div class="p-5 text-center">
            <%= link_to board.title, vision_board_path(board), class: "mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white", data: { turbo_method: :get } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
