<!DOCTYPE html>
<html>
  <head>
    <title>VisionVault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://use.typekit.net/pyh0olp.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/nav" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js" %>
    <%= yield %>
  </body>
</html>
